/* Universal Styles */

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.gray {
  color: gray;
}

.btn {
  color: white;
  background-color: black;
}

/* Header */

header {
  height: 4rem;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 2rem;
}

header .logo {
  flex: 1;
  display: flex;
  align-items: center;
}

header .logo span {
  text-transform: uppercase;
}

header .logo img {
  width: 2rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

/* Banner */

.banner {
  background-color: lightgrey;
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
}

.banner-text {
  margin-left: 1.5rem;
  width: 30%;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.banner h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.banner .btn {
  text-align: center;
  padding: 0.5rem;
}

.banner span {
  font-size: 1.5rem;
}
