/* Universal Styles */

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: #4a4a4a;
}

.bold {
  font-weight: bold;
  color: #4a4a4a;
}

.gray {
  color: #9b9b9b;
}

.btn {
  color: white;
  background-color: #4a4a4a;
}

/* Header */

header {
  height: 4rem;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 2rem;
}

header .logo {
  flex: 1;
  display: flex;
  align-items: center;
}

header .logo span {
  text-transform: uppercase;
}

header .logo img {
  width: 2rem;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

/* Banner */

.banner {
  background-color: #d8d8d8;
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
}

.banner-text {
  margin-left: 1.5rem;
  width: 30%;
}

.banner h1 {
  font-size: 2.75rem;
  margin-bottom: 2rem;
}

.banner h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.banner .btn {
  text-align: center;
  padding: 1rem;
}

.banner a {
  font-size: 1.5rem;
  color: #ffffff;
}

/* Information */

.information {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.highlight-info {
  padding: 0 1.5rem;
  width: 60%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.information h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.hightlight-text {
  padding: 2rem 0;
}

.highlight-text h2 {
  padding-bottom: 2rem;
}
